<div class='col-lg-10 col-lg-offset-1 game' ng-controller='gameCtrl as game'>
  <h1>{{ game.banner }}</h1>
  <div class='col-lg-10 col-lg-offset-1'>
    <table class='table'>
      <tr>
        <td ng-repeat='t in game.grabTeams track by $index'>
          <div id="team-{{$index}}">
            {{ t }}
          </div>
        </td>
      </tr>
      <tr>
        <td ng-repeat='n in game.grabTeams track by $index'>
          <div id="score-{{$index}}">
            {{ 0 }}
          </div>
        </td>
      </tr>
      <tr>
        <td ng-repeat='score in game.grabTeams track by $index'>
          <div id='btn-{{$index}}'>
            <button class='btn btn-success' ng-click='game.pointPrompt($index)'>+</button>
          </div>
        </td>
      </tr>
    </table>
    <div class='col-lg-10 col-lg-offset-1 difficulties'>
      <button class='btn btn-info' ng-click='game.easy()' data-toggle="modal" data-target="#myModal">
        Easy
      </button>
      <button class='btn btn-warning' ng-click='game.medium()' data-toggle="modal" data-target="#myModal">
        Medium
      </button>
      <button class='btn btn-danger' ng-click='game.hard()' data-toggle="modal" data-target="#myModal">
        Hard
      </button>
    </div>
  </div>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Problem</h4>
        </div>
        <div class="modal-body">
          <p>{{ game.randomProblem.problem }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Award Points
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
