body {
  background-color: #000000;
  color: #faba08;
  padding: 1%;
  margin: 1%;
}

.header {
  margin-bottom: 1%;
  font-size: 1.5em;
}

a {
  color: #faba08;
}

a:hover {
  color: #000000;
}

.landing {
  text-align: center;
}

.enter {
  text-align: center;
}

.buttonStart {
  padding: 2%;
  font-size: 1.5em;
}

.about, .game, .setup {
  border-radius: 8px;
  text-align: center;
  background-color: #ddd;
  color: #faba08;
  font-size: 2em;
}

.hook {
  height: 40%;
  width: 40%;
  margin-bottom: 2%;
}

.teams {
  color: #000000;
  margin-top: 2%;
  padding: 3%;
}

.ready {
  margin-bottom: 2%;
}
